* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(233, 231, 227);
}

nav {
    border-bottom: 2px solid black;
    padding: 20px;
}

.logout {
    display: flex;
    justify-content: end;
}

button {
    height: 6vh;
    width: 12vh;
    font-size: 17px;
    border-radius: 15px;
    border-color: purple;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
}

.eu {
    width: 36vh;
    border-radius: 100%;
    padding-left: 4vh;
    padding-top: 5px;
}

.texts {
    padding-left: 8vh;
    padding-top: 30px;
}

h2 {
    font-size: 20px;
}

.imgs {
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
    gap: 20px;
}

.img1 {
    padding-left: 65vh;
    padding-top: 20px;
}

.img2 {
    padding-left: 65vh;
    padding-top: 20px;
}

.img3 {
    padding-left: 65vh;
    padding-top: 20px;
}